Repository red-hat-storage/ramen, pull requests merged in 2022-05, with the labels that each got.

#36 Bug 2085357: Change DRCluster resource to a cluster scoped resource
  PROJECT
  api/v1alpha1/drcluster_types.go
  config/crd/bases/ramendr.openshift.io_drclusters.yaml
  controllers/drcluster_controller.go
  controllers/drcluster_controller_test.go
  controllers/drplacementcontrol_controller.go
  controllers/drplacementcontrol_controller_test.go
  controllers/drpolicy_controller.go
  controllers/drpolicy_controller_test.go
  hack/ocm-minikube-ramen.sh
Labels: bugzilla/severity-urgent, bugzilla/valid-bug

#39 Bug 2090568: Ignore drpolicy validation when a managed cluster (hosting s3store) is down
  controllers/drplacementcontrol_controller.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#40 Bug 2090685: Cache object storer for subsequent uploads
  controllers/suite_test.go
  controllers/volumereplicationgroup_controller.go
  controllers/volumereplicationgroup_controller_test.go
Labels: bugzilla/valid-bug, bugzilla/severity-medium
