Repository red-hat-storage/ramen, pull requests merged in 2022-08, with the labels that each got.

#58 Bug 2114989: s3utils: add deadline to s3 operations
  controllers/s3utils.go
Labels: bugzilla/valid-bug, bugzilla/severity-high

#59 Bug 2116303: creating progressionstatus conditions as type
  api/v1alpha1/drplacementcontrol_types.go
  controllers/drplacementcontrol.go
  controllers/drplacementcontrolvolsync.go
Labels: bugzilla/valid-bug, bugzilla/severity-medium

#60 Bug 2114905: MetroDR: clear PV ClaimRef on secondary PVC deletion and put back the…
  controllers/vrg_volrep.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug

#61 Bug 2119932: Address missing VR for a PVC during VRG deletion
  controllers/vrg_volrep.go
Labels: bugzilla/valid-bug, bugzilla/severity-high
