Repository red-hat-storage/ramen, pull requests merged in 2022-03, with the labels that each got.

#18 Bug 2060301: Fix hard coded ramen operator config name
  controllers/ramenconfig.go
  controllers/suite_test.go
  main.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug

#20 Bug 2056871: Relocation stuck issue 398: Made initial changes in drpc
  controllers/drplacementcontrol.go
  controllers/drplacementcontrol_controller_test.go
Labels: bugzilla/valid-bug, bugzilla/severity-high

#21 Bug 2059303: Fix static strings in config map append
  config/hub/manifests/odr/ramen_manager_config_append.yaml
Labels: lgtm

#22 Bug 2063862: controllers: skip the s3 validation for the failed cluster
  controllers/drpolicy_controller.go
Labels: bugzilla/valid-bug, bugzilla/severity-high

#25 Bug 2063865: Revert "Sync mode fixes for VRG deletion in primary and secondary mode"
  controllers/volumereplicationgroup_controller.go
Labels: bugzilla/valid-bug, bugzilla/severity-unspecified

#26 Bug 2063865: Sync mode fixes for VRG deletion in primary and secondary mode
  controllers/volumereplicationgroup_controller.go
Labels: bugzilla/valid-bug, bugzilla/severity-unspecified

#27 Bug 2068401: Avoid overwriting needsStatusUpdate
  controllers/drplacementcontrol.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-low
