Repository red-hat-storage/ramen, pull requests merged in 2023-08, with the labels that each got.

#117 Bug 2224325: Add checks to ensure existing PVC matches PVC to restore
  controllers/vrg_volrep.go
Labels: bugzilla/valid-bug, bugzilla/severity-high

#118 Bump to k8s.io 1.26.4 dependencies
  go.mod
  go.sum
Labels: lgtm

#120 Bug 2229568: vrg: annotate pvc and pv when they are archived
  controllers/status.go
  controllers/volumereplicationgroup_controller.go
  controllers/vrg_volrep.go
Labels: bugzilla/valid-bug, bugzilla/severity-unspecified

#121 Bug 2138855: Set PeerReady condition status to false upon relocation initiation
  controllers/drplacementcontrol.go
Labels: bugzilla/valid-bug, bugzilla/severity-high

#123 Bug 2232552: Update hub RBAC to include Placement finalizer "update"
  config/hub/rbac/role.yaml
  config/rbac/role.yaml
  controllers/drplacementcontrol_controller.go
Labels: bugzilla/severity-urgent, bugzilla/invalid-bug

#124 Bug 2232552: Find PlacementDecision by Placement label selector
  controllers/drplacementcontrol_controller.go
  controllers/drplacementcontrol_controller_test.go
Labels: bugzilla/severity-urgent, bugzilla/invalid-bug

#125 Bug 2232414: Bump to k8s.io 1.26.4 dependencies
  go.mod
  go.sum
Labels: bugzilla/valid-bug, bugzilla/severity-unspecified

#127 Bug 2219843: package ramen alerts
  config/prometheus/alerts.yaml
  config/prometheus/kustomization.yaml
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high

#128 Bug 2235245: metrics: set metrics if not nil
  controllers/drplacementcontrol_controller.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high

#131 Bug 2153860: delete drpolicy backport
  controllers/drplacementcontrol_controller.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high
