Repository red-hat-storage/ramen, pull requests merged in 2023-03, with the labels that each got.

#103 Bug 2173954: Ensure that PeerReady is set to true in the absence of any VRGs.
  controllers/drplacementcontrol.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug

#104 Bug 2172202: When there is at least one available cluster and no VRGs, set the con…
  controllers/drplacementcontrol.go
  controllers/drplacementcontrol_controller.go
Labels: bugzilla/severity-urgent, bugzilla/invalid-bug, lgtm

#108 Bug 2176179: Set 'Reason' and 'Message' fields to 'none' when empty
  controllers/drplacementcontrol_controller.go
  controllers/status.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-unspecified
