Repository red-hat-storage/ramen, pull requests merged in 2023-10, with the labels that each got.

#141 Bug 2153860: when policy is deleted fail placement reconcile with error
  controllers/drplacementcontrol_controller.go
Labels: bugzilla/valid-bug, bugzilla/severity-high

#133 Bug 2236196: metrics: set metrics if not nil
  controllers/drplacementcontrol_controller.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high

#142 Bug 2215462: vrg: annotate pvc and pv when they are archived
  controllers/status.go
  controllers/volumereplicationgroup_controller.go
  controllers/vrg_volrep.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug

#143 Bug 2240946: drpolicy: validation of the drpolicy doesn't depend on cluster deploy
  controllers/drpolicy_controller.go
  controllers/drpolicy_controller_test.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug

#144 Bug 2241329: Exclude PlacementDecision from Hub Recovery Backup
  controllers/drplacementcontrol_controller.go
  controllers/drplacementcontrol_controller_test.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug

#148 Bug 2239140: Store application namespace as an annotation
  controllers/drplacementcontrol.go
  controllers/drplacementcontrol_controller.go
  controllers/drplacementcontrol_controller_test.go
  controllers/util/misc.go
Labels: bugzilla/valid-bug, bugzilla/severity-high

#150 Bug 2246638: drclusters: ensure the spec fencestate field matches with expected
  controllers/drcluster_controller.go
  controllers/drcluster_controller_test.go
Labels: bugzilla/valid-bug, bugzilla/severity-high

#152 Bug 2246997: drclusters: ensure the spec fencestate field matches with expected
  controllers/drcluster_controller.go
  controllers/drcluster_controller_test.go
Labels: bugzilla/valid-bug, bugzilla/severity-high
