Repository red-hat-storage/ramen, pull requests merged in 2024-11, with the labels that each got.

#392 Syncing latest changes from main for ramen
  .gitignore
  api/go.mod
  api/v1alpha1/drpolicy_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/ramendr.openshift.io_drpolicies.yaml
  config/crd/bases/ramendr.openshift.io_protectedvolumereplicationgrouplists.yaml
  config/crd/bases/ramendr.openshift.io_volumereplicationgroups.yaml
  docs/devel-quick-start.md
  e2e/deployers/retry.go
  e2e/dractions/actions.go
  e2e/dractions/crud.go
  e2e/dractions/retry.go
  e2e/exhaustive_suite_test.go
  e2e/go.mod
  e2e/main_test.go
  e2e/testcontext/testcontext.go
  e2e/util/const.go
  e2e/util/crud.go
  hack/dev-env.sh
  internal/controller/drclusterconfig_controller.go
  internal/controller/drclusters.go
  internal/controller/drplacementcontrol.go
  internal/controller/drplacementcontrol_controller.go
  internal/controller/drplacementcontrol_controller_test.go
  internal/controller/drplacementcontrolvolsync.go
  internal/controller/drpolicy_controller.go
  internal/controller/drpolicy_peerclass.go
  internal/controller/drpolicy_peerclass_internal_test.go
  internal/controller/util/labels.go
  internal/controller/util/managedcluster.go
  internal/controller/util/mcv_util.go
  internal/controller/util/mw_util.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_status_pvcs.go
  internal/controller/vrg_volrep.go
  internal/controller/vrg_volrep_test.go
  internal/controller/vrg_volsync.go
  test/README.md
  test/addons/volsync/start
Labels: lgtm

#398 Backport of PR #1649 Check hook implementation
  config/dr-cluster/rbac/role.yaml
  config/rbac/role.yaml
  internal/controller/kubeobjects/requests.go
  internal/controller/kubeobjects/velero/requests.go
  internal/controller/util/json_util.go
  internal/controller/util/json_util_test.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_kubeobjects.go
  internal/controller/vrg_kubeobjects_test.go
Labels: lgtm, approved

#399 Backport of PR #1646 drpc: set ProgressionWaitOnUserToCleanUp along with placement update
  internal/controller/drplacementcontrol.go
  internal/controller/volsync/vshandler.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_volsync.go
Labels: lgtm, approved

#410 DFBUGS-894: skip filtering using SID if SID not present in VSC and Check for provisioner match when determining matching V[R|S]Class
  internal/controller/drpolicy_peerclass.go
  internal/controller/drpolicy_peerclass_internal_test.go
  internal/controller/volsync/vshandler.go
Labels: jira/valid-reference, jira/valid-bug, jira/severity-critical
