Repository red-hat-storage/ramen, pull requests merged in 2024-09, with the labels that each got.

#346 Bug 2283994: rephrase alerts message
  config/prometheus/alerts.yaml
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-low

#348 Bug 2059669: Delete manifestwork for application namespace
  .github/workflows/ci.yaml
  Dockerfile
  api/go.mod
  cmd/main.go
  e2e/go.mod
  go.mod
  go.sum
  internal/controller/controllers_utils_test.go
  internal/controller/drcluster_controller.go
  internal/controller/drcluster_controller_test.go
  internal/controller/drcluster_drcconfig_test.go
  internal/controller/drcluster_mmode.go
  internal/controller/drcluster_mmode_test.go
  internal/controller/drplacementcontrol.go
  internal/controller/drplacementcontrol_controller.go
  internal/controller/drplacementcontrol_controller_test.go
  internal/controller/suite_test.go
  internal/controller/util/managedcluster.go
  internal/controller/util/mcv_util.go
  internal/controller/util/mw_util.go
  internal/controller/util/mw_util_test.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_recipe_test.go
  internal/controller/vrg_volrep.go
  internal/controller/vrg_volrep_test.go
  test/addons/csi-addons/cache
  test/addons/csi-addons/kustomization.yaml
  test/addons/csi-addons/start
  test/addons/rook-cephfs/cache
  test/addons/rook-cephfs/kustomization.yaml
  test/addons/rook-cephfs/start
  test/addons/rook-cluster/cache
  test/addons/rook-cluster/kustomization.yaml
  test/addons/rook-cluster/start
  test/addons/rook-operator/cache
  test/addons/rook-operator/kustomization.yaml
  test/addons/rook-operator/start
  test/addons/rook-toolbox/cache
  test/addons/rook-toolbox/kustomization.yaml
  test/addons/rook-toolbox/start
Labels: bugzilla/valid-bug, bugzilla/severity-high

#354 Bug 2308801: Fix PlacementDecision Exclusion from Hub Backup Due to Missing Label
  internal/controller/drplacementcontrol_controller.go
  internal/controller/drplacementcontrol_controller_test.go
  internal/controller/util/labels.go
  internal/controller/volsync/secret_propagator.go
  internal/controller/volsync/secret_propagator_test.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high

#355 Bug 2311790: Upgrade ramen to latest snapshotter crd and enforce VGS name length limit
  cmd/main.go
  go.mod
  go.sum
  hack/test/groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  hack/test/groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
  internal/controller/cephfscg/cephfscg_suite_test.go
  internal/controller/cephfscg/cghandler.go
  internal/controller/cephfscg/cghandler_test.go
  internal/controller/cephfscg/replicationgroupdestination_test.go
  internal/controller/cephfscg/volumegroupsourcehandler.go
  internal/controller/cephfscg/volumegroupsourcehandler_test.go
  internal/controller/drplacementcontrolvolsync.go
  internal/controller/replicationgroupdestination_controller.go
  internal/controller/replicationgroupsource_controller.go
  internal/controller/suite_test.go
  internal/controller/util/cephfs_cg.go
  internal/controller/util/cephfs_cg_test.go
  internal/controller/util/misc.go
  internal/controller/util/pvcs_util.go
  internal/controller/util/util_suite_test.go
  internal/controller/volsync/volsync_suite_test.go
  internal/controller/volsync/vshandler.go
  internal/controller/volsync/vshandler_test.go
  internal/controller/vrg_volsync_test.go
Labels: bugzilla/valid-bug, bugzilla/severity-medium
