Repository red-hat-storage/ramen, pull requests merged in 2024-12, with the labels that each got.

#417 DFBUGS-319: Fix a sporadic issue with missing PVsRestored condition in ProtectedPVC
  internal/controller/vrg_volsync.go
Labels: lgtm, jira/valid-reference, jira/valid-bug

#421 Fix protected pvc condtion when restored
  internal/controller/vrg_volsync.go
Labels: lgtm

#425 BUG DFBUGS-997: Backport fixes for check hooks
  internal/controller/util/json_util.go
  internal/controller/vrg_kubeobjects.go
  internal/controller/vrg_kubeobjects_test.go
Labels: jira/valid-reference, jira/valid-bug, jira/severity-critical

#427 DFBUGS-580: create RS irrespective of PV mount status.
  internal/controller/volsync/vshandler.go
  internal/controller/volsync/vshandler_test.go
Labels: lgtm, jira/valid-reference, jira/valid-bug

#422 DFBUGS-969: Delete secondary VRG before primary
  internal/controller/drplacementcontrol_controller.go
Labels: lgtm, jira/valid-reference, jira/valid-bug

#429 BUG DFBUGS-997: Backport fixes for check hooks
  e2e/dractions/actions.go
  internal/controller/cel/cel_drclusters_test.go
  internal/controller/cel/cel_drplacementcontrol_test.go
  internal/controller/cel/cel_drpolicy_test.go
  internal/controller/cephfscg/cephfscg_suite_test.go
  internal/controller/cephfscg/cghandler.go
  internal/controller/cephfscg/cghandler_test.go
  internal/controller/cephfscg/replicationgroupdestination.go
  internal/controller/cephfscg/replicationgroupdestination_test.go
  internal/controller/cephfscg/replicationgroupsource.go
  internal/controller/cephfscg/replicationgroupsource_test.go
  internal/controller/cephfscg/utils.go
  internal/controller/cephfscg/volumegroupsourcehandler.go
  internal/controller/cephfscg/volumegroupsourcehandler_test.go
  internal/controller/drplacementcontrol_controller.go
  internal/controller/util/cephfs_cg.go
  internal/controller/util/cephfs_cg_test.go
  internal/controller/util/json_util.go
  internal/controller/util/json_util_test.go
  internal/controller/volsync/vshandler.go
  internal/controller/vrg_kubeobjects.go
  internal/controller/vrg_volrep.go
  internal/controller/vrg_volrep_test.go
Labels: lgtm, jira/valid-reference, jira/valid-bug, jira/severity-critical
