Repository red-hat-storage/ramen, pull requests merged in 2024-10, with the labels that each got.

#367 exclude PV and PVC in velero backups
  docs/krp.md
  internal/controller/kubeobjects/velero/requests.go
Labels: lgtm

#369 Bug 2307909: Fix disable dr when VR failed validation
  go.mod
  go.sum
  internal/controller/drcluster_controller.go
  internal/controller/drcluster_drcconfig_test.go
  internal/controller/drcluster_mmode_test.go
  internal/controller/drplacementcontrol_controller.go
  internal/controller/drpolicy_controller.go
  internal/controller/protectedvolumereplicationgrouplist_controller.go
  internal/controller/suite_test.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_volrep.go
  test/addons/csi-addons/cache
  test/addons/csi-addons/kustomization.yaml
  test/addons/csi-addons/start
  test/envs/kubevirt.yaml
  test/envs/regional-dr-kubevirt.yaml
Labels: bugzilla/valid-bug, lgtm, approved, bugzilla/severity-high

#371 Revert "Bug 2307909: Fix disable dr when VR failed validation"
  go.mod
  go.sum
  internal/controller/drcluster_controller.go
  internal/controller/drcluster_drcconfig_test.go
  internal/controller/drcluster_mmode_test.go
  internal/controller/drplacementcontrol_controller.go
  internal/controller/drpolicy_controller.go
  internal/controller/protectedvolumereplicationgrouplist_controller.go
  internal/controller/suite_test.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_volrep.go
  test/addons/csi-addons/cache
  test/addons/csi-addons/kustomization.yaml
  test/addons/csi-addons/start
  test/envs/kubevirt.yaml
  test/envs/regional-dr-kubevirt.yaml
Labels: bugzilla/invalid-bug, bugzilla/severity-high

#372 Bug 2307909: Fix disable dr when VR failed validation
  api/go.mod
  e2e/go.mod
  go.mod
  go.sum
  internal/controller/drcluster_controller.go
  internal/controller/drcluster_drcconfig_test.go
  internal/controller/drcluster_mmode_test.go
  internal/controller/drplacementcontrol_controller.go
  internal/controller/drpolicy_controller.go
  internal/controller/protectedvolumereplicationgrouplist_controller.go
  internal/controller/suite_test.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_volrep.go
  test/addons/csi-addons/cache
  test/addons/csi-addons/kustomization.yaml
  test/addons/csi-addons/start
  test/envs/kubevirt.yaml
  test/envs/regional-dr-kubevirt.yaml
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high

#374 Bug 2280927: Backport of upstream PR #1573
  go.mod
  go.sum
  hack/test/recipes.ramendr.openshift.io.yaml
  internal/controller/kubeobjects/requests.go
  internal/controller/kubeobjects/velero/requests.go
  internal/controller/vrg_kubeobjects.go
  internal/controller/vrg_kubeobjects_test.go
  internal/controller/vrg_pvc_selector_test.go
  internal/controller/vrg_recipe.go
  internal/controller/vrg_recipe_test.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high
