Repository red-hat-storage/ramen, pull requests merged in 2024-01, with the labels that each got.

#159 Bug 2215442: Disable vrgNamespace caching to prevent upgrade issues
  controllers/drplacementcontrol.go
  controllers/drplacementcontrol_controller.go
  controllers/drplacementcontrol_controller_test.go
  controllers/util/misc.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high

#171 Bug 2248666: Add watching on Secrets in drcluster_controller
  controllers/drcluster_controller.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high

#173 Bug 2257480: Reconcile related drpcs when drcluster is deleted
  controllers/drplacementcontrol_controller.go
Labels: lgtm

#175 Bug 2258351: Fix Failover Confusion in DRPC Action Post Hub Recovery
  api/v1alpha1/drplacementcontrol_types.go
  controllers/drplacementcontrol.go
  controllers/drplacementcontrol_controller.go
  controllers/drplacementcontrol_controller_test.go
  controllers/util/mcv_util.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug

#179 Bug 2249462: Fencing takes more time than expected
  controllers/drcluster_controller.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high
