Repository red-hat-storage/ramen, pull requests merged in 2024-02, with the labels that each got.

#183 Bug 2255411: Backport of upstream PRs 1171, 1173, 1174
  .github/workflows/ci.yaml
  Dockerfile
  Makefile
  api/v1alpha1/drcluster_webhook.go
  api/v1alpha1/drplacementcontrol_webhook.go
  api/v1alpha1/drpolicy_webhook.go
  api/v1alpha1/volumereplicationgroup_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ramendr.openshift.io_drclusters.yaml
  config/crd/bases/ramendr.openshift.io_drplacementcontrols.yaml
  config/crd/bases/ramendr.openshift.io_drpolicies.yaml
  config/crd/bases/ramendr.openshift.io_maintenancemodes.yaml
  config/crd/bases/ramendr.openshift.io_protectedvolumereplicationgrouplists.yaml
  config/crd/bases/ramendr.openshift.io_volumereplicationgroups.yaml
  config/dr-cluster/default/kustomization.yaml
  config/hub/default/k8s/kustomization.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  controllers/argocd/appset_hack.go
  controllers/drcluster_controller.go
  controllers/drplacementcontrol_controller.go
  controllers/drplacementcontrol_controller_test.go
  controllers/drpolicy_controller.go
  controllers/suite_test.go
  controllers/util/owner.go
  controllers/util/pvcs_util_test.go
  controllers/volsync/volsync_suite_test.go
  controllers/volsync/vshandler_test.go
  controllers/volumereplicationgroup_controller.go
  controllers/vrg_recipe.go
  controllers/vrg_recipe_test.go
  controllers/vrg_volrep_test.go
  controllers/vrg_volsync_test.go
  docs/user-quick-start.md
  go.mod
  go.sum
  hack/install-controller-gen.sh
  hack/install-golangci-lint.sh
  hack/install-kustomize.sh
  hack/install-operator-sdk.sh
  hack/install-opm.sh
  main.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-unspecified

#187 Revert "Bug 2255411: Backport of upstream PRs 1171, 1173, 1174"
  .github/workflows/ci.yaml
  Dockerfile
  Makefile
  api/v1alpha1/drcluster_webhook.go
  api/v1alpha1/drplacementcontrol_webhook.go
  api/v1alpha1/drpolicy_webhook.go
  api/v1alpha1/volumereplicationgroup_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ramendr.openshift.io_drclusters.yaml
  config/crd/bases/ramendr.openshift.io_drplacementcontrols.yaml
  config/crd/bases/ramendr.openshift.io_drpolicies.yaml
  config/crd/bases/ramendr.openshift.io_maintenancemodes.yaml
  config/crd/bases/ramendr.openshift.io_protectedvolumereplicationgrouplists.yaml
  config/crd/bases/ramendr.openshift.io_volumereplicationgroups.yaml
  config/dr-cluster/default/kustomization.yaml
  config/hub/default/k8s/kustomization.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  controllers/argocd/appset_hack.go
  controllers/drcluster_controller.go
  controllers/drplacementcontrol_controller.go
  controllers/drplacementcontrol_controller_test.go
  controllers/drpolicy_controller.go
  controllers/suite_test.go
  controllers/util/owner.go
  controllers/util/pvcs_util_test.go
  controllers/volsync/volsync_suite_test.go
  controllers/volsync/vshandler_test.go
  controllers/volumereplicationgroup_controller.go
  controllers/vrg_recipe.go
  controllers/vrg_recipe_test.go
  controllers/vrg_volrep_test.go
  controllers/vrg_volsync_test.go
  docs/user-quick-start.md
  go.mod
  go.sum
  hack/install-controller-gen.sh
  hack/install-golangci-lint.sh
  hack/install-kustomize.sh
  hack/install-operator-sdk.sh
  hack/install-opm.sh
  main.go
Labels: bugzilla/invalid-bug, bugzilla/severity-unspecified

#189 Bug 2255411: Backport of upstream PRs 1171, 1173, 1174
  .github/workflows/ci.yaml
  Dockerfile
  Makefile
  api/go.mod
  api/go.sum
  api/v1alpha1/drcluster_webhook.go
  api/v1alpha1/drplacementcontrol_webhook.go
  api/v1alpha1/drpolicy_webhook.go
  api/v1alpha1/volumereplicationgroup_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ramendr.openshift.io_drclusters.yaml
  config/crd/bases/ramendr.openshift.io_drplacementcontrols.yaml
  config/crd/bases/ramendr.openshift.io_drpolicies.yaml
  config/crd/bases/ramendr.openshift.io_maintenancemodes.yaml
  config/crd/bases/ramendr.openshift.io_protectedvolumereplicationgrouplists.yaml
  config/crd/bases/ramendr.openshift.io_volumereplicationgroups.yaml
  config/dr-cluster/default/kustomization.yaml
  config/hub/default/k8s/kustomization.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  controllers/argocd/appset_hack.go
  controllers/drcluster_controller.go
  controllers/drplacementcontrol_controller.go
  controllers/drplacementcontrol_controller_test.go
  controllers/drpolicy_controller.go
  controllers/suite_test.go
  controllers/util/owner.go
  controllers/util/pvcs_util_test.go
  controllers/volsync/volsync_suite_test.go
  controllers/volsync/vshandler_test.go
  controllers/volumereplicationgroup_controller.go
  controllers/vrg_recipe.go
  controllers/vrg_recipe_test.go
  controllers/vrg_volrep_test.go
  controllers/vrg_volsync_test.go
  docs/user-quick-start.md
  go.mod
  go.sum
  hack/install-controller-gen.sh
  hack/install-golangci-lint.sh
  hack/install-kustomize.sh
  hack/install-operator-sdk.sh
  hack/install-opm.sh
  main.go
Labels: bugzilla/valid-bug, bugzilla/severity-unspecified

#190 Syncing latest changes from upstream main for ramen
  .github/workflows/ci.yaml
  Dockerfile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  hack/setup-kind-cluster.sh
Labels: lgtm

#195 Bug 2255998: Fix pvc restore failure for VolSync workload
  controllers/volumereplicationgroup_controller.go
  controllers/vrg_recipe_test.go
  controllers/vrg_volrep.go
  controllers/vrg_volrep_test.go
  controllers/vrg_volsync.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#193 Bug 2240908: Check for metro policy using policy clusters
  controllers/drplacementcontrol.go
  controllers/drplacementcontrol_controller.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-medium

#196 Bug 2264402: Add checks to ensure existing PVC matches PVC to restore
  controllers/vrg_volrep.go
Labels: bugzilla/invalid-bug, lgtm, bugzilla/severity-medium

#197 Bug 2264435: Do not Set Metrics when DRPC is being deleted
  controllers/drplacementcontrol_controller.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high
