Repository red-hat-storage/ramen, pull requests merged in 2024-05, with the labels that each got.

#255 Bug 2267907: Fix Race Condition and Standardize Resource Metadata Handling
  controllers/drcluster_controller.go
  controllers/drpolicy_controller.go
  controllers/util/misc.go
  controllers/volsync/vshandler.go
Labels: bugzilla/valid-bug, bugzilla/severity-high

#251 Bug 2243244: alerts: rephrase the message
  config/prometheus/alerts.yaml
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high

#252 Bug 2264435: append condition to set metrics
  controllers/drplacementcontrol_controller.go
Labels: lgtm

#256 Bug 2136413: set status.phase to deleting on delete
  api/v1alpha1/drplacementcontrol_types.go
  controllers/drplacementcontrol_controller.go
Labels: bugzilla/invalid-bug, lgtm, bugzilla/severity-low

#259 Bug 2154749: don't consider DRType for WorkloadProtectionMetric
  controllers/drplacementcontrol_controller.go
  controllers/metrics.go
Labels: bugzilla/valid-bug, bugzilla/severity-high

#261 Bug 2247847: Check if failover target is ready for failover
  controllers/drplacementcontrol.go
  controllers/drplacementcontrol_controller.go
  controllers/drplacementcontrol_controller_test.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#267 Bug 2277773: api: add new progression for waiting on user cleanup
  api/v1alpha1/drplacementcontrol_types.go
  controllers/drplacementcontrol.go
Labels: bugzilla/valid-bug, bugzilla/severity-high, branch/release-4.16

#266 Bug 2277773: drpc: fix conditions init
  controllers/drplacementcontrol_controller.go
Labels: bugzilla/valid-bug, bugzilla/severity-high, branch/release-4.16

#265 Bug 2277773: drcluster: create ramenOps ns on hub and managed cluster
  config/hub/rbac/role.yaml
  config/rbac/role.yaml
  controllers/drclusters.go
  controllers/drpolicy_controller.go
  controllers/util/misc.go
Labels: bugzilla/valid-bug, bugzilla/severity-high, branch/release-4.16

#264 add resources to transformer config
  config/dr-cluster/manifests/idr/kustomization.yaml
  config/dr-cluster/manifests/odr/kustomization.yaml
  config/hub/manifests/idr/kustomization.yaml
  config/hub/manifests/odr/kustomization.yaml
Labels: lgtm

#268 Bug 2280342: add resources to transformer config
  config/dr-cluster/default/kustomization.yaml
  config/dr-cluster/manifests/idr/kustomization.yaml
  config/dr-cluster/manifests/odr/kustomization.yaml
  config/hub/default/k8s/kustomization.yaml
  config/hub/default/ocp/kustomization.yaml
  config/hub/manifests/idr/kustomization.yaml
  config/hub/manifests/odr/kustomization.yaml
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high

#272 Bug 2274765: Add volsync support for MultiNamespace
  controllers/util/objectmeta.go
  controllers/volsync/vshandler.go
  controllers/volsync/vshandler_test.go
  controllers/volumereplicationgroup_controller.go
  controllers/vrg_status_pvcs.go
  controllers/vrg_volsync.go
  controllers/vrg_volsync_test.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug

#274 Bug 2282284: Don't cleanup nil request
  controllers/vrg_kubeobjects.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug

#275 Bug 2282284: Help pylint with drenv.commands
  test/drenv/commands.py
Labels: bugzilla/severity-urgent, bugzilla/valid-bug
