Repository red-hat-storage/ramen, pull requests merged in 2024-04, with the labels that each got.

#233 Bug 2273605: DRPolicy: add default values
  api/v1alpha1/drpolicy_types.go
  config/crd/bases/ramendr.openshift.io_drpolicies.yaml
Labels: bugzilla/invalid-bug, bugzilla/severity-unspecified

#234 Bug 2270175: Selectively define ApplicationSet spec to drop argocd mod deps
  Makefile
  controllers/argocd/appset_hack.go
  controllers/drplacementcontrol_controller.go
  controllers/drplacementcontrol_controller_test.go
  controllers/suite_test.go
  go.mod
  go.sum
  main.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high

#237 Bug 2268167: Bump google.golang.org/protobuf to 1.33.0
  go.mod
  go.sum
Labels: bugzilla/invalid-bug, bugzilla/severity-medium

#180 Bug 2252252: Fencing takes more time than expected
  controllers/drcluster_controller.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high

#244 Bug 2273702: Add configuration for KubeObjectProtection and MultiNamespace
  Makefile
  api/v1alpha1/drplacementcontrol_types.go
  api/v1alpha1/volumereplicationgroup_types.go
  config/crd/bases/ramendr.openshift.io_drplacementcontrols.yaml
  config/crd/bases/ramendr.openshift.io_protectedvolumereplicationgrouplists.yaml
  config/crd/bases/ramendr.openshift.io_volumereplicationgroups.yaml
  config/dr-cluster/manager/ramen_manager_config.yaml
  config/hub/manager/ramen_manager_config.yaml
  controllers/drplacementcontrol_controller.go
  ramenctl/ramenctl/resources/configmap.yaml
Labels: bugzilla/valid-bug, bugzilla/severity-unspecified, branch/release-4.16
