Repository red-hat-storage/ramen, pull requests merged in 2024-06, with the labels that each got.

#284 Bug 2283651: Update Protected condition to report true for Sync DR cases
  controllers/protected_condition.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high

#288 Bug 2283820: Automate velero secret deployment
  controllers/drplacementcontrol_controller_test.go
  controllers/drpolicy.go
  controllers/drpolicy_controller_test.go
  controllers/s3_store_accessors.go
  controllers/suite_test.go
  controllers/util/secrets_util.go
  controllers/util/secrets_util_test.go
  controllers/vrg_kubeobjects.go
  ramenctl/ramenctl/config.py
  ramenctl/ramenctl/resources/cloud-credentials-secret.yaml
  ramenctl/ramenctl/resources/configmap.yaml
  ramenctl/ramenctl/unconfig.py
Labels: bugzilla/valid-bug, bugzilla/severity-unspecified

#289 Bug 2290677: Update placement decision only once Primary VRG is ready (for relocate)
  controllers/drplacementcontrol.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug

#286 Bug 2275320: Using S3 Storage to Recover lastGroupSyncTime After Hub Recovery
  api/v1alpha1/drplacementcontrol_types.go
  config/crd/bases/ramendr.openshift.io_drplacementcontrols.yaml
  controllers/drcluster_mmode.go
  controllers/drplacementcontrol_controller.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-medium

#291 Bug 2276941: Backport of PRs 1447 and 1451 from upstream
  api/v1alpha1/drplacementcontrol_types.go
  api/v1alpha1/volumereplicationgroup_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ramendr.openshift.io_drplacementcontrols.yaml
  config/crd/bases/ramendr.openshift.io_protectedvolumereplicationgrouplists.yaml
  config/crd/bases/ramendr.openshift.io_volumereplicationgroups.yaml
  controllers/drplacementcontrol.go
  controllers/drplacementcontrol_controller.go
  controllers/vrg_kubeobjects.go
Labels: bugzilla/valid-bug, bugzilla/severity-high, needs-rebase

#292 Bug 2280657: Backport of upstream PR 1450
  config/dr-cluster/manifests/bases/ramen_dr_cluster.clusterserviceversion.yaml
Labels: bugzilla/valid-bug, bugzilla/severity-high

#296 Bug 2276222: Ignore Secondary VRG Post-HubRecovery to Ensure Proper Reconciliation
  controllers/drplacementcontrol_controller.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-high

#298 Bug 2291336: Backport upstream PR 1453
  config/dr-cluster/manifests/bases/ramen_dr_cluster.clusterserviceversion.yaml
Labels: bugzilla/severity-urgent, bugzilla/valid-bug

#299 Bug 2283633: Failover of cephfs discovered app workload fails
  controllers/volsync/vshandler.go
  controllers/volsync/vshandler_test.go
  controllers/volumereplicationgroup_controller.go
  controllers/vrg_volsync.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug

#300 Bug 2291255: Backport of upstream PR 1444
  api/v1alpha1/ramenconfig_types.go
  controllers/drplacementcontrol_controller.go
Labels: bugzilla/valid-bug, bugzilla/severity-high

#302 Bug 2284021: Return a valid cluster only if primary VRG is found during initial de…
  controllers/drplacementcontrol.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug, lgtm

#239 Bug 2275340: Bump google.golang.org/protobuf to 1.33.0
  controllers/drpolicy_controller_test.go
  go.mod
  go.sum
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-medium, branch/release-4.14

#303 Bug 2291305: velero: backupStorageLocation requires config.checksumAlgorithm
  controllers/kubeobjects/velero/requests.go
Labels: bugzilla/valid-bug, lgtm, bugzilla/severity-unspecified

#305 Bug 2280657: Backport of upstream PR 1461
  config/dr-cluster/manifests/bases/ramen_dr_cluster.clusterserviceversion.yaml
Labels: bugzilla/valid-bug, bugzilla/severity-high

#308 Bug 2280657: backport of upstream PR 1462
  config/dr-cluster/rbac/role.yaml
  config/rbac/role.yaml
  controllers/suite_test.go
  controllers/volumereplicationgroup_controller.go
  go.mod
  main.go
Labels: bugzilla/valid-bug, bugzilla/severity-high

#316 Bug 2293634: Backport of upstream PR 1467
  controllers/kubeobjects/velero/requests.go
  controllers/vrg_recipe.go
Labels: bugzilla/severity-urgent, bugzilla/valid-bug
