Repository red-hat-storage/ramen, pull requests merged in 2025-02, with the labels that each got.

#443 BUG DFBUGS-1422: vrg: get start time of recover/backup from first velero req
  internal/controller/vrg_kubeobjects.go
  internal/controller/vrg_recipe_test.go
Labels: jira/valid-reference, jira/valid-bug, jira/severity-critical

#444 BUG DFBUGS-1425: vrg: Add Kube object restore condition
  internal/controller/status.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_kubeobjects.go
  internal/controller/vrg_volrep.go
Labels: jira/valid-reference, jira/valid-bug, jira/severity-critical

#448 BUG DFBUGS-1146: Enhance PV/PVC Management to Prevent Data Loss During Final Sync
  config/dr-cluster/rbac/role.yaml
  config/rbac/role.yaml
  internal/controller/volsync/vshandler.go
  internal/controller/volsync/vshandler_test.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_volrep.go
  internal/controller/vrg_volsync.go
Labels: jira/valid-reference, jira/valid-bug, jira/severity-critical

#452 BUG DFBUGS-1590: Update Ramen to use the v1beta1 version of the external-snapshotter API
  Makefile
  cmd/main.go
  go.mod
  go.sum
  hack/test/groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  hack/test/groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
  hack/test/groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
  internal/controller/cephfscg/cephfscg_suite_test.go
  internal/controller/cephfscg/cghandler_test.go
  internal/controller/cephfscg/replicationgroupdestination_test.go
  internal/controller/cephfscg/volumegroupsourcehandler.go
  internal/controller/cephfscg/volumegroupsourcehandler_test.go
  internal/controller/replicationgroupsource_controller.go
  internal/controller/suite_test.go
  internal/controller/util/cephfs_cg.go
  internal/controller/util/cephfs_cg_test.go
  internal/controller/util/util_suite_test.go
Labels: jira/valid-reference, jira/valid-bug

#455 Bug DFBUGS-1520: Fix CG PVC selection issue due to storageId mismatch on failover
  api/v1alpha1/replicationgroupdestination_types.go
  api/v1alpha1/replicationgroupsource_types.go
  config/crd/bases/ramendr.openshift.io_replicationgroupdestinations.yaml
  config/crd/bases/ramendr.openshift.io_replicationgroupsources.yaml
  internal/controller/cephfscg/cghandler.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_volsync.go
Labels: jira/valid-reference, jira/valid-bug, jira/severity-critical

#460 Bug DFBUGS-1546: vrg: don't protect kube resources as secondary during relocation
  .golangci.yaml
  internal/controller/drcluster_controller.go
  internal/controller/drplacementcontrol.go
  internal/controller/drplacementcontrol_controller.go
  internal/controller/status.go
  internal/controller/util/cephfs_cg.go
  internal/controller/util/conditions.go
  internal/controller/volsync/vshandler.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_kubeobjects.go
  internal/controller/vrg_volrep.go
  internal/controller/vrg_vrgobject.go
Labels: jira/valid-reference, jira/valid-bug, jira/severity-critical

#461 Bug DFBUGS-1438: Fix NetworkFence resource lookup issue
  internal/controller/util/mcv_util.go
Labels: lgtm, approved, jira/valid-reference, jira/valid-bug

#462 BUG DFBUGS-1665: vrg: return on hook errors during backup
  internal/controller/vrg_kubeobjects.go
Labels: jira/valid-reference, jira/valid-bug, jira/severity-important
