Repository red-hat-storage/ramen, pull requests merged in 2025-09, with the labels that each got.

#616 DFBUGS-3713: Enable configurable security context and service account for VolSync DataMover pods.
  api/v1alpha1/drplacementcontrol_types.go
  api/v1alpha1/volumereplicationgroup_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ramendr.openshift.io_drplacementcontrols.yaml
  config/crd/bases/ramendr.openshift.io_protectedvolumereplicationgrouplists.yaml
  config/crd/bases/ramendr.openshift.io_volumereplicationgroups.yaml
  internal/controller/drplacementcontrol.go
  internal/controller/drplacementcontrolvolsync.go
  internal/controller/volsync/vshandler.go
  internal/controller/volsync/vshandler_test.go
  internal/controller/vrg_volsync.go
Labels: jira/valid-reference, jira/valid-bug

#621 DFBUGS-918, DFBUGS-2890, DFBUGS-1652: Fix missing velero exclude labels on VolSync/Submariner resources
  internal/controller/cephfscg/cghandler.go
  internal/controller/kubeobjects/velero/requests.go
  internal/controller/volsync/vshandler.go
  internal/controller/vrg_volgrouprep.go
Labels: lgtm, jira/valid-reference, jira/valid-bug, jira/severity-important

#609 DFBUGS-4000: Enable configurable security context and service account for VolSync DataMover pods.
  api/v1alpha1/drplacementcontrol_types.go
  api/v1alpha1/volumereplicationgroup_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ramendr.openshift.io_drplacementcontrols.yaml
  config/crd/bases/ramendr.openshift.io_protectedvolumereplicationgrouplists.yaml
  config/crd/bases/ramendr.openshift.io_volumereplicationgroups.yaml
  internal/controller/drplacementcontrol.go
  internal/controller/drplacementcontrolvolsync.go
  internal/controller/volsync/vshandler.go
  internal/controller/volsync/vshandler_test.go
  internal/controller/vrg_volsync.go
Labels: lgtm, jira/valid-reference, jira/valid-bug

#626 DFBUGS-3851: recipe- support addition for CRs in check hooks
  internal/controller/hooks/check_hook.go
  internal/controller/hooks/check_hook_test.go
  internal/controller/hooks/hooks_util.go
Labels: jira/valid-reference, jira/valid-bug, jira/severity-important
