Repository red-hat-storage/ramen, pull requests merged in 2025-01, with the labels that each got.

#433 JIRA RHSTOR-6456: Consistent RBD group DR - DP
  internal/controller/cephfscg/replicationgroupsource.go
  internal/controller/cephfscg/utils.go
  internal/controller/cephfscg/volumegroupsourcehandler.go
  internal/controller/drplacementcontrol.go
  internal/controller/volsync/vshandler.go
  internal/controller/volsync/vshandler_test.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_volrep.go
  internal/controller/vrg_volsync.go
Labels: jira/valid-reference

#435 BUG DFBUGS-997: backport 1738 and 1739
  .golangci.yaml
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_kubeobjects.go
  internal/controller/vrg_pvc_selector_test.go
  internal/controller/vrg_recipe.go
  internal/controller/vrg_volsync.go
Labels: jira/valid-reference, jira/valid-bug, jira/severity-critical

#438 BUG DFBUGS-1170: vrg: use reader instead of client for check hooks
  internal/controller/util/json_util.go
  internal/controller/vrg_kubeobjects.go
Labels: jira/valid-reference, jira/valid-bug
