Repository red-hat-storage/ramen, pull requests merged in 2025-06, with the labels that each got.

#527 DFBUGS-2682: Fix for panic in kubeObjectsCaptureStartOrResume()
  internal/controller/volumereplicationgroup_controller.go
Labels: lgtm, jira/valid-reference, jira/valid-bug, jira/severity-critical, backports/unvalidated-commits

#528 Revert "DFBUGS-2592: Resolving panic issue"
  internal/controller/vrg_kubeobjects.go
Labels: jira/valid-reference, jira/invalid-bug, jira/severity-critical

#530 DFBUGS-2488: Fix for KubeObjects restore failure
  internal/controller/volumereplicationgroup_controller.go
Labels: jira/valid-reference, jira/valid-bug, jira/severity-critical

#529 DFBUGS-2592: Resolving panic issue
  internal/controller/vrg_kubeobjects.go
Labels: jira/valid-reference, jira/valid-bug, jira/severity-critical

#532 DFBUGS-2574: velero: add metadata only label for kubevirt plugin
  internal/controller/util/labels.go
  internal/controller/util/recipe.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_kubeobjects.go
  internal/controller/vrg_vrgobject.go
Labels: jira/valid-reference, jira/valid-bug, jira/severity-critical

#542 DFBUGS-2459: Address PVC deselect/delete for VR/VGR based protection
  internal/controller/ramenconfig.go
  internal/controller/util/misc.go
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_volgrouprep.go
  internal/controller/vrg_volrep.go
  internal/controller/vrg_volrep_test.go
Labels: jira/valid-reference, jira/valid-bug, jira/severity-critical

#551 DFBUGS-2862: Ensure PVC is deselected only when not in both VR and VS lists
  internal/controller/volumereplicationgroup_controller.go
  internal/controller/vrg_volrep_test.go
Labels: jira/valid-reference, jira/valid-bug

#552 DFBUGS-2842: Fixing ServiceAccount binding to enable cluster bundle install on HCP clusters
  internal/controller/controllers_utils_test.go
  internal/controller/drclusters.go
  internal/controller/util/mw_util.go
Labels: jira/valid-reference, jira/valid-bug, jira/severity-critical

#556 Updating missed UT for the ServiceAccount fix
  internal/controller/drplacementcontrol_controller_test.go
Labels: lgtm
