Repository red-hat-storage/ramen, pull requests merged in 2025-08, with the labels that each got.

#598 DFBUGS-3763: Nil check addition for Backups and Restore times
  internal/controller/kubeobjects/velero/requests.go
Labels: jira/valid-reference, jira/valid-bug

#602 DFBUGS-3873: Update protected CGs in DRPC for VolSync
  internal/controller/volumereplicationgroup_controller.go
Labels: jira/valid-reference, jira/valid-bug, jira/severity-critical

#605 DFBUGS-3847: Ensure the VGR resource name ends with an alphanumeric character
  internal/controller/util/misc.go
  internal/controller/util/misc_test.go
Labels: lgtm, jira/valid-reference, jira/valid-bug, jira/severity-important
